#gro{
    color: black;
    background-color: rgb(129, 131, 131);
    height: 80px;
}
.s1{
    background-color:#390ac5;
    height: 40px;
    margin-top: 20px;
}
.s2{
    background-color:#391ac5;
    height: 40px;
}
.s3{
    background-color:#392ac5;
    height: 40px;
}
.s4{
    background-color:#393ac5;
    height: 40px;
}
.s5{
    background-color:#394ac5;
    height: 40px;
}
.s6{
    background-color:#395ac5;
    height: 40px;
}
.s7{
    background-color:#1fe00d;
    height: 40px;
}
.s8{
    background-color:#c5976a;
    height: 40px;
}
.s9{
    background-color:#c5975a;
    height: 40px;
}
.s10{
    background-color:#c5974a;
    height: 40px;
}
.s11{
    background-color:#c5973a;
    height: 40px;
}
.s12{
    background-color:#c5972a;
    height: 40px;
}
.s13{
    background-color:#c5971a;
    height: 40px;
}
